<button type="button" (click)=logout()>LOGOUT</button>
<div class="chatbox">
    <div class="chatlogs">
       <div *ngFor="let text of msgs;" >
            <div *ngIf="text.user=='Bot';then bot else user"></div>
            <ng-template #bot>
                <div class="chat Bot">
                    <div class="userPhoto"></div>
                    <p class="chatMessage">{{text.reply}}</p>
                </div>
            </ng-template>
            <ng-template #user>
                <div class="chat Self">
                    <div class="userPhoto"></div>
                    <div class="hjsdhsjhd"></div>
                    <p class="chatMessage">{{text.reply}}</p>
                </div>
            </ng-template>    
        </div>
    </div>

    <div class="chatForm">
        <textarea name="" [(ngModel)]="msg" id="msg"></textarea>
           <button id="send" (click)="send()">send</button>
    </div>
</div>  

