<p align="right">
<button type="button" class="btn btn-success temp" (click)=logout()>LOGOUT</button>
</p>
<div class="chatbox">
    
    <div id="chatlogs" ngx-auto-scroll lock-y-offset="10" observe-attributes>
       <div *ngFor="let text of msgs;" >
            <div *ngIf="text.user=='Bot';then bot else user"></div>
            <ng-template #bot>
                <div class="chat Bot">
                    <div class="userPhoto">
                        <figure class="avatar avatar-xl">
                        <img src="../assets/bot.png" alt="BOT">
                        </figure>
                    </div>
                    <p class="chatMessage">{{text.reply}}</p>
                </div>
            </ng-template>
            <ng-template #user>
                <div class="chat Self">
                    <div class="userPhoto">
                        <figure class="avatar avatar-xl">
                        <img src="../assets/user.png" alt="USER">
                        <i class="avatar-presence online"></i>
                        </figure>
                    </div>
                    <p class="chatMessage">{{text.reply}}</p>
                </div>
            </ng-template>    
        </div>
    </div>

    <div class="chatForm">
        <textarea name="" [(ngModel)]="msg" #msgRef="ngModel"  required id="msg"></textarea>
           <button [disabled]="!msgRef.valid"  id="send" (click)="send()">send</button>
    </div>
</div>  

